################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

 **\Debug
**\node_modules
**\packages
**\bin
**\obj
